<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>signup page</title>
    <meta name="description" content="Responsive Nav Bar" />
    <meta name="keywords" content="Fluid, Responsive, responsive, responsive web design, responsive design, layout, css, html, web development, web design"/>
    <meta name ="Generator" content= "Atom ver1.0.11.0"/>
    <meta name="author" content="Maria Cheline Magsano"/>
    <link rel="stylesheet" href="static/sorl/stylesheet.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="{% url 'login' %}">Home</a></li>
        {% if user.is_authenticated %}
          <li><a href="{% url 'logout' %}">Logout</a></li>
          <li><a href="{% url 'profile' %}">Profile</a></li>
        {% else %}
          <li><a href="{% url 'login' %}">Login</a></li>
          <li><a href="{% url 'signup' %}">Register</a></li>
        {% endif %}

      </ul>
    </nav>
    <div class="jumbotron">
    {% block content %} {% endblock %}
  </div>
  </body>
</html>
