{% extends "sorl/home.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% block content %}
  {% if messages %}
    {% for i in messages %}
      <div class="alert alert-{{ message.tags }}">
        {{ i }}
      </div>
    {% endfor %}
  {% endif %}
    <form method="post" class="form">
      {{ form|crispy }}
      {% csrf_token %}
      <input type="submit" name="" value="submit">
    </form>
    <small>
      Don't have an account?<a href="{% url 'signup' %}">Signup</a>
    </small>
{% endblock %}
